.wrapper {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
}
.container {
  padding-left: 10px;
}
.MuiToolbar-root {
  display: flex;
  justify-content: space-around;
}

.item {
  margin-left: auto;
}
/* .MuiGrid-root {
  display: flex;
  justify-content: end;
} */

.MuiGrdi-container {
  justify-content: space-around;
  /* margin-left: auto; */
}

/* .MuiDataGrid-cell:focus {
  outline: none !important;
}
.MuiCheckbox-root:focus {
  outline: none;
}

.MuiDataGrid-root {
  color: #254b58;
  border-radius: 16px;
}
.MuiDataGrid-row {
  cursor: pointer;
}
.MuiDataGrid-cell {
  border: none;
} */
